@{
    Layout="~/Shared/_LayoutAdmin.cshtml";
    if(IsPost)
    {
        Roles.AddUserToRole(Request["userName"], Request["roleName"]);
    }
    
}
@section Styles{
<link rel="stylesheet" type="text/css" href="~/style.css" />
	<link rel="stylesheet" href="~/lightbox.css" type="text/css" media="screen" />
<style>
    .heading{
        margin-left: 50px;
        color:#734633;
        padding:0px;
        float:left;
        font-size:20px;
    }
    .product
    {
        margin-left: 150px;
        
        padding:0px;
        float:left;  
    }
</style>
	
}

@section product1{
<br></br><br></br>
    <div class="heading"><span class="title_icon"><img src="~/images/bullet1.gif" alt="" title="" /></span>ADD USER</div>
 <br></br>
<br></br>
<div class="product">
<div class="feat_prod_box_details">
    
            <div class="contact_form">
                <div class="form_subtitle">User Roles</div>
                    <div class="form_row">
                    <form action="" method="post">

                <label for="userName">User Name: </label>
                <input id="userName" name="userName" type="text" value="" />
                </div>
                <div class="form_row">
                    <label for="roleName">Role Name: </label>
                <input id="roleName" name="roleName" type="text" value="" />

                <input type="submit" class="register" value="Add User to Role" name="addUserRole" />
                    
                        <br></br>
                    </form>
                       </div>

                       
                    
                </div>
            
            </div>	
            
              
</div>
         <br></br><br></br>   

            
        <div class="clear"></div>
<br></br>
<br></br>
<br></br>
<br></br>
}

