 <div class="header">
       		<div class="logo"><a href=@Href("~/Default.cshtml")><img src=@Href("~/images/logo.gif") alt="" title="" border="0" /></a></div>            
        <div id="menu">
            <ul>                                                                       
            <!----<li class="selected"><a href=Href("~/Default.cshtml")>Home</a></li>
            <li><a href=Href("~/About.cshtml")>About Us</a></li>
           <li><a href="Books.cshtml">Books</a></li>-->
            <!----<li><a href="~/Specials.cshtml">Specials Books</a></li>-->
           <!---- <li><a href=Href("~/Cart.cshtml")>Cart</a></li>
            <li><a href=Href("~/Contact_Page.cshtml")>Contact</a></li>-->
            @MembershipHelpers.AccountSummary()
            <!----<li><a href=Href("~/My_Account.cshtml")>Login</a></li>
            <li><a href=Href("~/Sign_Up.cshtml")>Register</a></li>-->
               
            </ul>
        </div>     
            
            
       </div> 
